<div class="container my-5">
  <h3 class="font-weight-bold text-center dark-grey-text pb-2">Dodawanie/Edycja składnika</h3>
  <hr class="w-header my-4 text-center w-75 mb-2">

  <form *ngIf="ingredientFormGroup" [formGroup]="ingredientFormGroup" class="p-5" width="70%">

    <div class="form-area colored-border colored-border-focus">

      <label for="defaultSaveFormFirstName">Nazwa</label>
      <input formControlName="name" type="text" id="defaultSaveFormFirstName" class="form-control mb-4"
             placeholder="Nazwa składnika">
      <div *ngIf="name.invalid && (name.dirty || name.touched)"
           class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Nazwa składnika jest wymagana.
        </div>
        <div *ngIf="name.errors.minlength">
          Nazwa musi się składać z conajmniej 3 znaków.
        </div>
        <div *ngIf="name.errors.maxlength">
          Nazwa musi się składać z maksymalnie 25 znaków.
        </div>
      </div>

      <label for="defaultSaveFormLastName">Nazwa alternatywna</label>
      <input formControlName="latinName" type="text" id="defaultSaveFormLastName" class="form-control mb-4"
             placeholder="Alternatywna nazwa składnika">

      <label for="defaultSaveFormDescription">Opis</label>
      <textarea formControlName="description" id="defaultSaveFormDescription" class="form-control mb-4"
                placeholder="Opis składnika"></textarea>

      <hr class="w-header my-4 text-center mt-5 mb-2">

      <label for="defaultSaveFormEmail">Adres do źródła zew. </label>
      <input formControlName="blogUrl" type="email" id="defaultSaveFormEmail" class="form-control mb-4"
             placeholder="Adress www źródła zew.">

      <label for="textInput">Adres do zdjęcia</label>
      <input formControlName="imageUrl" type="text" id="textInput" class="form-control mb-4"
             placeholder="Adres www zdjęcia">
      <div *ngIf="imageUrl.invalid && (imageUrl.dirty || imageUrl.touched)"
           class="alert alert-danger">
        <div *ngIf="imageUrl.errors.required">
          Adres zdjęcia jest wymagany.
        </div>
        <div *ngIf="imageUrl.errors.pattern">
          Nieprawidłowa forma adresu. Adres musi się rozpoczynać od http:// lub https://
        </div>
      </div>

      <div *ngIf="update">
        <label for="defaultFormCategory">Lista zamienników</label>
        <div class="mb-5">
          <select [compareWith]="compareIngredientById" multiple formControlName="replacements" class="custom-select"
                  id="defaultFormCategory">
            <option [value]="null" disabled>Wybierz zamienniki</option>
            <option *ngFor="let tempIngredient of ingredientList" [value]="tempIngredient">
              {{tempIngredient.name}}
            </option>
          </select>
        </div>
      </div>

      <br>
      <hr class="w-header my-4 text-center mb-2">
      <button [disabled]="ingredientFormGroup.pristine || ingredientFormGroup.invalid" (click)="onSubmit()"
              routerLink="/ingredients" class="btn btn-light" type="submit">Dodaj/Zaktualizuj
      </button>
    </div>
  </form>

</div>
