<div class="container my-4">
  <app-confirmation-modal></app-confirmation-modal>

  <!--Section: Content-->
  <section class="magazine-section dark-grey-text">

    <!-- Section heading -->

    <div *ngIf="userCheck()" class="text-right">
      <a title="edytuj recepturę" class="font-small dark-grey-text mr-2" routerLink="/recipes/update/{{recipe.id}}">u</a>
      <a title="usuń recepturę" class="font-small dark-grey-text" (click)="open(deleteConfirmation)">x</a>
    </div>

    <h3 class="font-weight-bold text-center dark-grey-text pb-2">{{recipe.name}}</h3>
    <hr class="w-header text-center w-75 my-4">
    <p class="lead text-center text-muted pt-2 mb-5">{{recipe.intro}}</p>

    <app-self-closing-alert></app-self-closing-alert>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-7 col-md-12 mb-4">

        <!-- Featured news -->
        <div class="single-news">

          <!-- Image -->
          <div class="view overlay rounded z-depth-1-half mb-4">
            <img class="img-fluid" src="{{recipe.imageUrl}}" alt="Sample image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Data -->
          <div class="news-data d-flex justify-content-between">
            <div class="deep-orange-text">
              <h6 class="font-weight-bold"><i class="fas fa-clock pr-2"></i>{{recipe.prepTime}} min</h6>
            </div>
            <p class="font-weight-bold dark-grey-text"><i class="fas fa-clock-o pr-2"></i>{{recipe.dateUpdated}}</p>
          </div>

          <!-- Excerpt -->
          <h3 class="font-weight-bold dark-grey-text mb-3"><a>O kosmetyku słów kilka...</a></h3>
          <p class="dark-grey-text">{{recipe.description}}</p>

        </div>
        <!-- Featured news -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-5 col-md-12 mb-4">

          <app-recipe-calculator-modal [ingredients]="recipe.ingredientQuantities"></app-recipe-calculator-modal>


        <!-- Ingredients -->
        <div *ngFor="let tempIngredient of recipe.ingredientQuantities" class="single-news mb-4">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-3">

              <!--Image-->
              <div class="view overlay rounded z-depth-1 mb-4">
                <img class="img-fluid" src="{{tempIngredient.ingredient.imageUrl}}" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-9">

              <!-- Excerpt -->
              <p class="font-weight-bold dark-grey-text">{{tempIngredient.ingredient.name}}
                <a *ngIf="userCheck()" title="usuń recepturę" class="font-small dark-grey-text"
                   (click)="deleteQuantity(tempIngredient.id)">&nbsp;x</a>
              </p>
              <div class="d-flex justify-content-between">
                <div class="col-11 text-truncate pl-0 mb-3">
                  <a href="#!" class="dark-grey-text">Potrzebna ilość: <span class="font-weight-bold dark-grey-text">
                    {{tempIngredient.calculatedAmount | number:'1.0-1'}} {{tempIngredient.unitOfMeasure.uom}}</span></a>
                </div>
                <a routerLink="/ingredients/{{tempIngredient.ingredient.id}}">
                  <i class="fas fa-angle-double-right dark-grey-text"></i>
                </a>
              </div>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>

        <app-add-new-quantity *ngIf="userCheck()" [recipeId]="recipe.id"></app-add-new-quantity>
        <div *ngIf="recipe.ingredientQuantities?.length == 0" class="alert alert-info col-md-12 mb-5" role="alert">
          Brak składników.
        </div>
        <!-- /.Ingredients -->
        <br><br>
        <p class="font-weight-bold dark-grey-text">Lista przydatnego wyposażenia:</p>
        <!-- Tools -->
        <div class="single-news mb-4">

          <!-- Grid row -->
          <div class="row">
            <div class="col-md-12">

              <!-- Excerpt -->
              <ul class="list-group list-group-flush">
                <li *ngFor="let tempTool of recipe.tools" class="list-group-item">
                  <p style="display: inline;" class="fas fa-arrow-right form-inline"></p>
                  <p style="display: inline;" class="font-weight-bold dark-grey-text ">&nbsp; {{tempTool.name}}</p>
                  <p style="text-indent: 23px;">{{tempTool.description}}</p>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <div *ngIf="recipe.tools?.length == 0" class="alert alert-info col-md-12 mb-5" role="alert">
            Brak potrzebnego wyposażenia.
          </div>

        </div>

        <!-- /.Tools -->


      </div>
      <!--Grid column-->

    </div>
    <!-- Grid row -->

    <!-- Steps Section -->
    <div class="container my-5 pt-5 pb-3 px-5">

      <!-- Section -->
      <section>

        <h3 class="font-weight-bold text-center dark-grey-text pb-2">Instrukcja przygotowania</h3>
        <hr class="w-header text-center w-75 my-4">
        <p class="lead text-center text-muted pt-2 mb-5">Postępuj zgodnie z poniższymi wskazówkami by uzyskać najlepszy
          rezultat.</p>

        <div class="row align-items-center">

          <div class="col-lg-12 mb-4">

            <!-- Single Step -->
            <ol class="step pl-0">
              <li *ngFor="let tempStep of recipe.steps" class="step-element pb-0">
                <div class="step-number">
                  <span class="number">{{recipe.steps.indexOf(tempStep) + 1}}</span>
                </div>
                <div class="step-excerpt">
                  <h6 class="font-weight-bold dark-grey-text mb-3">{{tempStep.name}}
                    <a *ngIf="userCheck()" title="usuń krok" class="font-small dark-grey-text"
                       (click)="deleteStep(tempStep.id);">&nbsp;x</a>
                  </h6>
                  <p class="text-muted">{{tempStep.detail}}</p>
                </div>
              </li>
            </ol>
            <!-- Single Step -->

            <app-add-new-step *ngIf="userCheck()" [recipeId]="recipe.id"></app-add-new-step>

            <div *ngIf="recipe.steps?.length == 0" class="alert alert-info col-md-12 mb-5" role="alert">
              Brak kroków.
            </div>

          </div>

        </div>

      </section>
      <!-- Section -->

    </div>

    <!-- /.Steps Section -->

  </section>
  <!--Section: Content-->

</div>

<!-- Modals -->

<ng-template #deleteConfirmation let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-recipe-delete-conf">Uwaga! Usuwanie receptury!</h4>
    <button type="button" class="btn btn-outline-dark btn-sm" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">x</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Czy napewno chcesz usunąć {{recipe.name}}?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark justify-content-center" (click)="d(deleteRecipe(recipe))"
            routerLink="/">Usuń
    </button>
  </div>
</ng-template>



<!-- Modals -->
