<div class="container">

  <!-- Header Section -->

  <!-- Jumbotron -->
  <div class="container p-0">

    <!-- Card image -->
    <div class="text-center">
      <a routerLink="/">
        <img src="https://i.imgur.com/KjDstNm.png" class="img-fluid w-75">
      </a>
    </div>

    <!-- Card content -->
    <div class="text-center">

      <p class="nav-link text-uppercase text-black-50 py-2">Baza pomysłów na Twoje kosmetyki DIY!</p>

    </div>

  </div>
  <!-- Jumbotron -->

  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark amy-crisp-gradient ie-nav" [containerInside]="false">
    <mdb-navbar-brand>
      <a class="fas fa-home white-text mr-md-4 mr-0 fa-2x" routerLink="/"></a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="/">Receptury<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="/ingredients">Składniki</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="/">FAQ</a>
        </li>
        <li *ngIf="userCheck()" class="nav-link waves-light btn-group" mdbDropdown>
          <a mdbDropdownToggle type="button" class="dropdown-toggle waves-light"
             style="height: auto; width: 30px">Admin</a>
          <div class="dropdown-menu dropdown-primary">
            <a class="dropdown-item" routerLink="/ingredients/new">Dodaj nowy składnik</a>
            <a class="dropdown-item" routerLink="/tools/new">Dodaj nowe narzędzie</a>
            <a class="dropdown-item" routerLink="/recipes/new">Dodaj nową recepturę</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/tools">Lista narzędzi</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a href="https://www.instagram.com/biologicznieczynny" class="nav-link"><mdb-icon fab icon="instagram"></mdb-icon></a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link mr-3" href="http://www.biologicznieczynny.pl"><mdb-icon fab icon="fab fa-bootstrap"></mdb-icon></a>
        </li>
        <app-search-bar></app-search-bar>
      </ul>
    </links>
  </mdb-navbar>


  <!--/.Navbar-->

  <!-- Main Body -->
  <router-outlet></router-outlet>
  <!-- /.Main Body -->

  <!-- Footer Section -->
  <footer class="page-footer font-small amy-crisp-gradient">

    <app-login-widget></app-login-widget>
    <!-- Footer Elements -->
    <div class="container">

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-3">
          <div class="mb-5 flex-center">

            <!-- GitHub +-->
            <a href="http://github.com/darkonion/diy-cosmetics-frontend" class="gplus-ic">
              <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Blog +-->
            <a href="http://www.biologicznieczynny.pl" class="gplus-ic">
              <i class="fab fa-bootstrap fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</div>


