<div class="modal-header pt-2 pb-1 amy-crisp-gradient">
  <h6 class="text-white" id="modal-add-quantity">Kalkulator Receptury</h6>
</div>


<div class="form-area colored-border colored-border-focus p-5">
  <form [formGroup]="userAmountForm" class="mb-2">
    <label>Wprowadź ilość kosmetyku</label>
    <div class="form-inline">
      <input (keyup)="calculate()" maxlength="5" class="form-control" placeholder="Ilosc"
             class="form-control col-sm-3" formControlName="userAmount"><span
      class="ml-2 align-middle">ml</span>
    </div>
    <div
      *ngIf="userAmount.invalid && (userAmount.dirty || userAmount.touched)"
      class="alert alert-danger">
      <div *ngIf="userAmount.errors.required">
        Podanie ilości receptury jest wymagane.
      </div>
      <div *ngIf="userAmount.errors.pattern">
        Dopuszczalne są jedynie cyfry i liczby.
      </div>
      <div *ngIf="userAmount.errors.min">
        Ilość składnika nie może być mniejsza niż 1.
      </div>
    </div>

  </form>

  <hr class="w-header my-4 text-center w-75 mb-2">

  <div *ngFor="let tempIngredient of ingredients" class="single-news mb-4">
    <p class="font-weight-bold dark-grey-text">{{tempIngredient.ingredient.name}}</p>
    <p class="dark-grey-text">Potrzebna ilość: &nbsp;
      <span class="font-weight-bold pink-text">
          {{tempIngredient.calculatedAmount | number:'1.0-1'}} {{tempIngredient.unitOfMeasure.uom}}
        </span>
    </p>
  </div>
</div>
