<div class="d-flex justify-content-between">
  <p class="font-weight-bold dark-grey-text">Lista składników ({{userAmount.value}}ml produktu):</p>
  <a *ngIf="ingredients.length > 0" title="Kalkulator receptury" class="font-small dark-grey-text text-right"
     (click)="open(recipeCalculatorForm);"><i class="fas fa-calculator"></i></a>
</div>

<ng-template #recipeCalculatorForm let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-add-quantity">Kalkulator Receptury</h4>
    <button type="button" class="btn btn-outline-dark btn-sm" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">x</span>
    </button>
  </div>

  <div class="form-area colored-border colored-border-focus p-5">
    <form [formGroup]="userAmountForm" class="mb-2">
      <label>Wprowadź ilość kosmetyku</label>
      <div class="form-inline">
        <input class="form-control" placeholder="Ilosc" class="form-control col-sm-3" formControlName="userAmount"><span
        class="ml-2 align-middle">ml</span>
      </div>
      <div
        *ngIf="userAmount.invalid && (userAmount.dirty || userAmount.touched)"
        class="alert alert-danger">
        <div *ngIf="userAmount.errors.required">
          Podanie ilości receptury jest wymagane.
        </div>
        <div *ngIf="userAmount.errors.pattern">
          Dopuszczalne są jedynie cyfry i liczby.
        </div>
        <div *ngIf="userAmount.errors.max">
          Ilość składnika nie może być większa niż 1000.
        </div>
        <div *ngIf="userAmount.errors.min">
          Ilość składnika nie może być mniejsza niż 1.
        </div>
      </div>

    </form>

    <hr class="w-header my-4 text-center w-75 mb-2">

    <div *ngFor="let tempIngredient of ingredients" class="single-news mb-4">
      <p class="font-weight-bold dark-grey-text">{{tempIngredient.ingredient.name}}</p>
      <p class="dark-grey-text">Potrzebna ilość: &nbsp;
        <span class="font-weight-bold text-info">
          {{tempIngredient.calculatedAmount | number:'1.0-1'}}{{tempIngredient.unitOfMeasure.uom}}
        </span>
      </p>
    </div>
  </div>

  <div class="modal-footer">
    <button [disabled]="userAmountForm.invalid" type="button" class="btn btn-outline-dark"
            (click)="calculate()">
      Oblicz!
    </button>
  </div>
</ng-template>
