<div class="container my-2">

  <app-recipe-category-menu></app-recipe-category-menu>

  <section>

    <!--Tab panels-->
    <div class="tab-content mb-3 mt-2">

      <!--Panel 1-->
      <div class="tab-pane fade show in active" id="panel31" role="tabpanel">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div *ngFor="let recipe of recipes" class="col-md-12 col-lg-4">

            <!-- Card -->
            <a class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

              <!-- Card image -->
              <img routerLink="/recipe/{{recipe.id}}" class="card-img-top" src="{{recipe.imageUrl}}" alt="Card image cap">

              <!-- Card content -->
              <div class="card-body">

                <h5 class="my-3">{{recipe.name}}</h5>
                <p class="card-text mb-3">Poziom:&nbsp; &nbsp;{{recipe.difficulty}}</p>
                <p class="card-text mb-3">Czas przygotowania:&nbsp; &nbsp;{{recipe.prepTime}} min</p>


              </div>
            </a>
            <!-- Card -->

          </div>
        </div>
      </div>
    </div>


  </section>
  <!-- Section -->

  <div *ngIf="recipes?.length == 0" class="alert alert-info col-md-12 mb-5" role="alert">
    Brak receptur.
  </div>

</div>
<div>
  <div *ngIf="theTotalElements > 6" class="pagination pg-blue-grey d-flex justify-content-center">
    <ngb-pagination class="" [(page)]="thePageNumber"
                      [pageSize]="thePageSize"
                      [collectionSize]="theTotalElements"
                      (pageChange)="getRecipeList()">
    </ngb-pagination>
  </div>
</div>


