<div class="container my-2">

  <app-recipe-category-menu></app-recipe-category-menu>

  <section>

    <!--Tab panels-->
    <div class="tab-content mb-3 mt-2">

      <!--Panel 1-->
      <div class="tab-pane fade show in active" id="panel31" role="tabpanel">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div *ngFor="let recipe of recipes" class="col-md-12 col-lg-4">

            <!-- Card -->
            <a class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

              <!-- Card image -->
              <img routerLink="/recipe/{{recipe.id}}" class="card-img-top" src="{{recipe.imageUrl}}" alt="Card image cap">

              <!-- Card content -->
              <div class="card-body">

                <h5 class="my-3">{{recipe.name}}</h5>
                <p class="card-text mb-3">Poziom:&nbsp; &nbsp;{{recipe.difficulty}}</p>
                <p class="card-text mb-3">Czas przygotowania:&nbsp; &nbsp;{{recipe.prepTime}} min</p>


              </div>
            </a>
            <!-- Card -->



          </div>
        </div>
      </div>
    </div>


  </section>
  <!-- Section -->

  <div *ngIf="recipes?.length == 0" class="alert alert-info col-md-12 mb-5" role="alert">
    Brak receptur.
  </div>

  <!-- Pagination -->
  <nav class="mb-5">
    <ul class="pagination pg-blue justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link">1</a></li>
      <li class="page-item"><a class="page-link">2</a></li>
      <li class="page-item"><a class="page-link">3</a></li>
      <li class="page-item">
        <a class="page-link">Next</a>
      </li>
    </ul>
  </nav>
  <!-- /.Pagination -->

</div>
