<div class="container my-5">

  <section>

    <!--First row-->
    <div class="row">

      <!--First column-->
      <div class="col-12">

        <!-- Nav tabs -->
        <ul class="nav nav-pills flex-center flex-wrap mx-0 mb-5" role="tablist">
          <li class="nav-item">
            <a class="nav-link active font-weight-bold text-uppercase mdb-color lighten-2" data-toggle="tab" href="#panel31" role="tab">Wszystkie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold text-uppercase black-text" data-toggle="tab" href="#panel32" role="tab">Do Ciała</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold text-uppercase black-text" data-toggle="tab" href="#panel33" role="tab">Do Włosów</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold text-uppercase black-text" data-toggle="tab" href="#panel33" role="tab">Inne</a>
          </li>
        </ul>

      </div>
      <!--First column-->

    </div>
    <!--First row-->

    <!--Tab panels-->
    <div class="tab-content mb-5">

      <!--Panel 1-->
      <div class="tab-pane fade show in active" id="panel31" role="tabpanel">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div *ngFor="let recipe of recipes" class="col-md-12 col-lg-4">

            <!-- Card -->
            <a class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

              <!-- Card image -->
              <img class="card-img-top" src="{{recipe.imageUrl}}" alt="Card image cap">

              <!-- Card content -->
              <div class="card-body">

                <h5 class="my-3">{{recipe.name}}</h5>
                <p class="card-text mb-3">Poziom:&nbsp; &nbsp;{{recipe.difficulty}}</p>
                <p class="card-text mb-3">Czas przygotowania:&nbsp; &nbsp;{{recipe.prepTime}} min</p>


              </div>

            </a>
            <!-- Card -->
          </div>
        </div>
      </div>
    </div>


  </section>
  <!-- Section -->

</div>
