<div class="modal-content">
  <div class="modal-header pt-2 pb-1 amy-crisp-gradient">
    <h6 class="text-white" id="modal-add-quantity">Lista zamienników</h6>
    <a class="close text-white" aria-label="Close" (click)="close()">
      ×
    </a>
  </div>

  <div class="modal-body p-5">

    <div *ngFor="let tempIngredient of replacements">
      <a routerLink="/ingredients/{{tempIngredient.id}}" (click)="close()" class="font-weight-bold dark-grey-text">
        <i class="fas fa-angle-right mr-2"></i> {{tempIngredient.name}}</a>
    </div>

  </div>

  <div class="modal-footer font-small">
    *zamiana składnika nie wpłynie na podstawowe właściwości komsetyku
  </div>
</div>

