<div class="container my-5">
  <h3 class="font-weight-bold text-center dark-grey-text pb-2">Dodawanie/Edycja narzędzia</h3>
  <hr class="w-header my-4 text-center w-75 mb-2">

  <form *ngIf="toolFormGroup" [formGroup]="toolFormGroup" class="p-5" width="70%" novalidate>

    <div class="form-area colored-border colored-border-focus">


      <label for="defaultSaveFormName">Nazwa</label>
      <input formControlName="name" type="text" id="defaultSaveFormName" class="form-control mb-4"
             placeholder="Nazwa narzędzia">
      <div *ngIf="name.invalid && (name.dirty || name.touched)"
           class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Nazwa narzędzia jest wymagana.
        </div>
        <div *ngIf="name.errors.minlength">
          Nazwa musi się składać z conajmniej 3 znaków.
        </div>
        <div *ngIf="name.errors.maxlength">
          Nazwa musi się składać z maksymalnie 50 znaków.
        </div>
      </div>

      <label for="defaultSaveFormDescription">Krótki opis</label>
      <textarea formControlName="description" id="defaultSaveFormDescription" class="form-control mb-4"
                placeholder="Krótki opis narzędzia"></textarea>

      <br>
      <hr class="w-header my-4 text-center mb-2">

      <button [disabled]="toolFormGroup.invalid || toolFormGroup.pristine" (click)="onSubmit()" routerLink="/"
              class="btn btn-light" type="submit">Dodaj/Zaktualizuj
      </button>
    </div>
  </form>

</div>
